<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dckj.arrange.producer.mapper.BaseMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dckj.arrange.common.entity.BaseMenu">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="menu_name" property="menuName" />
        <result column="parent_id" property="parentId" />
        <result column="resource_url" property="resourceUrl" />
        <result column="type" property="type" />
        <result column="sort_number" property="sortNumber" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, menu_name AS menuName, parent_id AS parentId, resource_url AS resourceUrl, type, sort_number AS sortNumber, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
