<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dckj.arrange.producer.mapper.PkSubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dckj.arrange.common.entity.PkSubject">
        <id column="subject_id" property="subjectId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="create_time" property="createTime"/>
        <result column="school_code" property="schoolCode"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="dckj.arrange.common.model.request.SubjectVo">
        <id column="subject_ids" property="subjectIds"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        subject_id , subject_name , create_time ,school_code
    </sql>

    <select id="selectListBySchoolCode" resultMap="BaseResultMap"
            parameterType="dckj.arrange.common.model.request.SubjectVo">
        select
        <include refid="Base_Column_List"/>
        from pk_subject
        <if test="schoolCode != null and schoolCode != ''">
            <where>
                and school_code = #{schoolCode,jdbcType=VARCHAR}
            </where>
        </if>
        ORDER BY subject_name
    </select>
    <select id="selectSubjectIdsByName" parameterType="java.util.Map" resultMap="BaseResultMap1">
        select GROUP_CONCAT(ps.subject_id) as subject_ids
        from pk_subject ps where FIND_IN_SET(ps.subject_name,#{subjectNames})
        and ps.school_code = #{schoolCode}
    </select>
</mapper>
